.cart{
    position: absolute;
    width: 30%;
    right: 20px;
    top: 80px;
    z-index: 3;
    background-color: rgb(240, 231, 215);
    padding: 20px;
    border:1px solid #ccc; 
    -webkit-box-shadow:  0px 6px -5px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 0px 6px -5px rgba(0, 0, 0, 0.57);

    h1{
        margin-bottom: 30px;
        color:black;
        font-weight: 400;
        font-size: 24px;
    }

    .item{
        display: flex;
        align-items: center;
        gap:  20px;
        // justify-content: space-between;
        img{
            width: 80px;
            height: 100px;
            object-fit: cover;
        }

        .details{
            h1{
                color: rgb(23, 23, 23);
                font-size: 18px;
                font-weight:500; 
            }

            p{
                color: gray;
                margin-bottom: 10px;
                font-size: 14px;
            }

            .price{
                color: #2879fe;
            }
        }

        .delete{
            color: red;
            font-size: 30px;
            cursor: pointer;
        }
    }
    .total{
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 20px;
    }

    button{
        max-width: 300px;
        width: fit-content;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background-color: #2879fe;
        color: white;
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .reset{
        color: red;
        font-size: 12px;
        cursor: pointer;
    }
    .payment-method{
        margin: 8px 0px;
    }
    .mpesa-number{
        width: 100%;
        border-radius: 5px;
        padding: 5px 0px;
        margin: 8px 0px;
        box-sizing: border-box;
        transition: width 3s ease-in-out;
    }
    .mpesa-number:focus{
        width: 100%;
    }
}